.aboutcon{
  padding:1rem;
  background: black;
  color:#fff;
  display:flex;
  flex-direction: column;
}
.aboutseccon{
  width:100%;
  display: flex;
  align-items: center;
  padding:0.5rem 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sectionprojekts{
  background: blue;
  width:10rem;
  height: 5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0.5rem 1rem;
  border-radius:5px;
  font-weight: 700;
}
.aboutme{
  flex-grow: 1;
  display:flex;
  padding:1rem;
  gap:1rem;
  width:100%;
}
.img{
  width:50%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.img>img{
  width:100%;
  border-radius:30px;
  height: 100%;
  object-fit: cover;
}
.textabout{
  width:50%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.textabout>h3{
  font-family: 'Roboto Mono', monospace;
}