ul>li>a:hover{
  padding-bottom:1rem;
  padding-right:1rem;
  transition: all 2s;
}
.card:hover,
.cardd:hover{ 
  transform:scale(0.955);
  transition: all 2s;
}
#imgani{
  filter:grayscale(100%);
}
#imgani:hover{
  filter: grayscale(0);
  transition: all 2s;
}