@media (max-width: 768px) {
  #navcomp>ul{
    display: none;
  }
  #carouselheader{
    font-size: 2rem;
  }
  .carousel-caption{
    padding-bottom:1rem;
  }
  .scroll{
    bottom:1rem;
  }
  .buttonscroll{
    padding:1rem;
    width:3rem;
    height:3rem;
  }
  .skills{
    flex-direction: column;
  }
  .text{
    flex-direction: row;
    width:100%;
    height:2rem;
  }
  .textd{
    flex-direction: row;
    width:100%;
    height:2rem;
  }
  .aboutseccon{
    flex-direction: rown;
    gap:1rem;
  }
  .contact{
    flex-direction: column;
    width:100%;
  }
 .image>img{
   display: none;
 }
}