html{
  height:100%;
}
body{
  margin: 0cm;
  box-sizing: border-box;
  overflow-x: hidden;
  height:100%;
}
.heightfull{
  height:100%;
}
.heighthalf{
  height:50%;
}
.flex{display: flex;}.padding{padding:0.5rem;}
.wrap{
  flex-wrap:wrap;
}
.row{
  flex-direction: row;
}
.gap{
  gap:1rem;
}
.column{
  flex-direction: column;
}
.aligncenter{
  align-items: center;
}
.justifycenter{
  justify-content: center;
}
.justifyend{
  margin-right:auto;
}
.justifystart{
  margin-left:auto;
}
.widthfull{
  width:100%;
}
.widthhalf{
  width:50%;
}
/*componantes*/

.buttonlight{
  padding:0.3rem 1rem;
  background: #4757FF;
  border:none;
  border-radius:5px;
  color:#fff;
  display: flex;
  align-items:center;
  justify-content: center;
}
.buttondark{
  padding:0.3rem 1rem;
  background: #000000D6;
  border:none;
  border-radius:5px;
  color:#fff;
  display: flex;
  align-items:center;
  justify-content: center;
} 
.opacityzero{
  opacity: 0%;
}
.between{
  justify-content: space-between;
}